footer {
  background-color: #fff;
  padding: 20px 0;
  border-top: 1px solid #000;
  gap: 2%;

  .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 60px;

      a {
        font-family: "SpaceMono-Regular";
        font-size: 16px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
/* Règles CSS pour les écrans de taille mobile */
@media (max-width: 765px) {
  footer .footer-menu {
    flex-direction: column; /* Empile les éléments du menu verticalement */
    gap: 10px; /* Espacement vertical entre les éléments du menu */

    li {
      margin: 10px 0; /* Réduit la marge pour les éléments de liste sur les petits écrans */
    }
  }
}
