/* Style liste de photos de la page d'accueil */

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  gap: 20px; /* Espacement entre les photos */
}

.liste__photo {
  object-fit: cover;
  width: 50%;
  height: 100%;
  position: relative;
}
