/*
Thème Nom: Photographe Nathalie Mota
Thème URI: https://localhost/photographe-nathalie-mota
Auteur: Auzente17
Auteur URI: https://github.com/Auzente17
Description: Un thème personnalisé pour le site web de la photographe Nathalie Mota
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: photographe-nathalie-mota
*/
